html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --background-color: theme('colors.light.background');
  --Lbackground-color: theme('colors.light.lightBackground');
  --text-color: theme('colors.light.text');
  --primary-color: theme('colors.light.primary');
  --secondary-color: theme('colors.light.secondary');
  --accent-color: theme('colors.light.accent');
  --red-btn: theme('colors.light.redBtn');
  --blue-btn: theme('colors.light.blueBtn');
  --red-btn-hvr: theme('colors.light.redBtnHvr');
  --blue-btn-hvr: theme('colors.light.blueBtnHvr');
}

html.dark {
  --background-color: theme('colors.dark.background');
  --Dbackground-color: theme('colors.dark.darkBackground');
  --text-color: theme('colors.dark.text');
  --primary-color: theme('colors.dark.primary');
  --secondary-color: theme('colors.dark.secondary');
  --accent-color: theme('colors.dark.accent');
}
.active {
  font-weight: bold;
  color: #1a202c; /* Color para modo claro */

}

.dark .active {
  color: #fff; /* Color para modo oscuro */
}
::-webkit-scrollbar {
  width: 5px;
  background: #011b16;
}

::-webkit-scrollbar-track {
  background: #93BFB7;
}

::-webkit-scrollbar-thumb {
  background: #2D3E40;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #316060;
}
/* @font-face {
  font-family: "Regular";
  src: local("Ubuntu-Regular"),
       url('/src/assets/fonts/Ubuntu-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Ubuntu-Medium"),
       url('/src/assets/fonts/Ubuntu-Medium.ttf') format("truetype");
}
@font-face {
  font-family: "Bold";
  src: local("Ubuntu-Bold"),
       url('/src/assets/fonts/Ubuntu-Bold.ttf') format("truetype");
}
@font-face {
  font-family: "Italic";
  src: local("Ubuntu-Italic"),
       url('/src/assets/fonts/Ubuntu-Italic.ttf') format("truetype");
}
@font-face {
  font-family: "Light";
  src: local("Ubuntu-Light"),
       url('/src/assets/fonts/Ubuntu-Light.ttf') format("truetype");
} */


/* -----CALENDAR----- */

.App {
  font-family: Arial, sans-serif;
  border-radius: .5rem;
  
}

.rbc-calendar {
  background-color: #fcffd6ea; /* Fondo blanco para el calendario */
  border-radius: .5rem;
}

.rbc-toolbar {
  border-radius: .5rem .5rem 0 0;
  background-color: #44524f; /* Fondo del toolbar */
  color: white;
  
}

.rbc-today {
  background-color: #FDA4AF!important; /* Destaca el día actual */
}

.rbc-event {
  /* background-color: #F2B705; Color de fondo de los eventos */
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
}

.rbc-btn-group button {
   /* background-color: #042326;Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin bordes */
  padding: 10px; /* Espaciado interno */
  margin: 2px; /* Espaciado entre botones */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano al pasar por encima */
  transition: background-color 0.3s ease; /* Transición para el color de fondo */
}

.rbc-btn-group button:hover {
  background-color: #107361; /* Color de fondo al pasar el mouse */
  color: white;
}

.rbc-btn-group button:focus {
  outline: none; /* Elimina el contorno predeterminado */
 /* Sombra al enfocar */
}

.rbc-btn-group .rbc-active {
  background-color: #28a745 !important; /* Color de fondo cuando el botón está activo */
}

/* ----LOADER---- */

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 