html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --background-color: theme('colors.light.background');
  --Lbackground-color: theme('colors.light.lightBackground');
  --text-color: theme('colors.light.text');
  --primary-color: theme('colors.light.primary');
  --secondary-color: theme('colors.light.secondary');
  --accent-color: theme('colors.light.accent');
  --red-btn: theme('colors.light.redBtn');
  --blue-btn: theme('colors.light.blueBtn');
  --red-btn-hvr: theme('colors.light.redBtnHvr');
  --blue-btn-hvr: theme('colors.light.blueBtnHvr');
}

html.dark {
  --background-color: theme('colors.dark.background');
  --Dbackground-color: theme('colors.dark.darkBackground');
  --text-color: theme('colors.dark.text');
  --primary-color: theme('colors.dark.primary');
  --secondary-color: theme('colors.dark.secondary');
  --accent-color: theme('colors.dark.accent');
}
.active {
  font-weight: bold;
  color: #1a202c; /* Color para modo claro */

}

.dark .active {
  color: #fff; /* Color para modo oscuro */
}
::-webkit-scrollbar {
  width: 5px;
  background: #93BFB7;
}

::-webkit-scrollbar-track {
  background: #93BFB7;
}

::-webkit-scrollbar-thumb {
  background: #2D3E40;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #316060;
}
/* @font-face {
  font-family: "Regular";
  src: local("Ubuntu-Regular"),
       url('/src/assets/fonts/Ubuntu-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Ubuntu-Medium"),
       url('/src/assets/fonts/Ubuntu-Medium.ttf') format("truetype");
}
@font-face {
  font-family: "Bold";
  src: local("Ubuntu-Bold"),
       url('/src/assets/fonts/Ubuntu-Bold.ttf') format("truetype");
}
@font-face {
  font-family: "Italic";
  src: local("Ubuntu-Italic"),
       url('/src/assets/fonts/Ubuntu-Italic.ttf') format("truetype");
}
@font-face {
  font-family: "Light";
  src: local("Ubuntu-Light"),
       url('/src/assets/fonts/Ubuntu-Light.ttf') format("truetype");
} */
